{{ form_start(form) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

    <div class="form-error">
        {{ form_errors(form.email) }}
    </div>

    {{ form_label(form.roles) }}
        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}

    <div class="form-error">
        {{ form_errors(form.roles) }}
    </div>

    {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}

    <div class="form-error">
        {{ form_errors(form.plainPassword.first) }}
    </div>

    {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

    <div class="form-error">
        {{ form_errors(form.plainPassword.second) }}
    </div>


    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary mr-2">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
