{% form_theme form _self %}

{% use 'form_div_layout.html.twig' with integer_widget as base_integer_widget %}

{% block form_errors %}
    {% if errors is defined and errors|length > 0 %}
        {% for error in errors %}
            <div id="check-error" class="flash-warning">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endblock form_errors %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Bienvenue sur My Pam's</title>
    <meta name="description" content="My Pam's est un produit innovant qui permet d'offrir plus de bonheur avec un cadeau. Connectez vous sur My Pams avec votre code pour créer un contenu, ou consulter un message."/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="logo_pams hidden-xs">
    <a href=""><img src="{{ asset('images/logo-pams.png') }}" class="img-responsive" width="280px"></a>
</div>
<div class="logo_pams visible-xs">
    <a href=""><img src="{{ asset('images/logo-pams.png') }}" width="80" height="auto"></a>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid homepage">
    <div id="videoContain">
        <video autoplay muted id="myVideo">
            <source src="{{ asset('images/bg.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div id="bodyTimer" class="bodyTimer">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="check-error" style="display: none" class="flash-warning"></div>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                            <div id="errorContainer">
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="input-group-lg ">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <p class="text-center social-networks">
                <a href="https://www.facebook.com/my-pamscom-1999950273596090/?ref=bookmarks" target="_blank"><span class="fa fa-facebook"></span></a>
                <a href="http://bit.ly/pinterest_collection_pams" target="_blank"><span class="fa fa-pinterest-p"></span></a>
                <a href="http://bit.ly/tuto_utilisation_pams" target="_blank"><span class="fa fa-youtube"></span></a>
            </p>
            <p class="text-center">Copyright {{ 'now'|date('Y') }} My Pam's – Service en ligne My Pams</p>
        </div>
    </div>
</div>

<script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('js/checkError.js') }}"></script>

</body>
</html>




