<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Visualisez votre Pam's</title>
    <meta name="description" content="My Pam's est un produit innovant qui permet d'offrir plus de bonheur avec un cadeau. Connectez vous sur My Pams avec votre code pour créer un contenu, ou consulter un message."/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-new.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/spectrum.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/froala_style.min.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--froala-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_style.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="createBody"></div>

<!--//////////////////////////////////////////////////////
/////////////////////// ALL LAYOUTS //////////////////////
////////////////////////////////////////////////////////// -->

<!--Layout1a-->
<div id="1a" class="create-container container">
    <div class="row">
        <div id="createContent1a-1" class="createContent col-12 Content100">
            <span id="content-addedcreateContent1a-1" class="content-added"></span>
            <div id="triggercreateContent1a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent1a-1Video" class="createContentVideo"></video>
                <p class="to-populate fr-view"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout2a-->
<div id="2a" class="create-container container ">
    <div class="row">
        <div id="createContent2a-1" class="createContent col-12 Content25">
            <span id="content-addedcreateContent2a-1" class="content-added"></span>
            <div id="triggercreateContent2a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2a-1Video" class="createContentVideo">      </video>
                <!--div id="lightBox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-content'>
                        <video autoplay-false muted id="createContent2a-1Video" class="createContentVideo">      </video>
                    </div>
                </div-->



                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent2a-2" class="createContent col-12 Content75">
            <span id="content-addedcreateContent2a-2" class="content-added"></span>
            <div id="triggercreateContent2a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2a-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>


<!--Layout2b-->
<div id="2b" class="create-container container">
    <div class="row">
        <div id="createContent2b-1" class="createContent col-6 Content100">
            <span id="content-addedcreateContent2b-1" class="content-added"></span>
            <div id="triggercreateContent2b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2b-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent2b-2" class="createContent col-6 Content100 ">
            <span id="content-addedcreateContent2b-2" class="content-added"></span>
            <div id="triggercreateContent2b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2b-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout2c-->
<div id="2c" class="create-container container">
    <div class="row">
        <div id="createContent2c-1" class="createContent col-12 Content50 ">
            <span id="content-addedcreateContent2c-1" class="content-added"></span>
            <div id="triggercreateContent2c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2c-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent2c-2" class="createContent col-12 Content50 ">
            <span id="content-addedcreateContent2c-2" class="content-added"></span>
            <div id="triggercreateContent2c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent2c-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>
</div>


<!--Layout3a-->
<div id="3a" class="create-container container ">
    <div class="row">
        <div id="createContent3a-1" class="createContent col-6 Content50">
            <span id="content-addedcreateContent3a-1" class="content-added"></span>
            <div id="triggercreateContent3a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3a-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3a-2" class="createContent col-6 Content50">
            <span id="content-addedcreateContent3a-2" class="content-added"></span>
            <div id="triggercreateContent3a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3a-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent3a-3" class="createContent col-12 Content50">
            <span id="content-addedcreateContent3a-3" class="content-added"></span>
            <div id="triggercreateContent3a-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3a-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout3b-->
<div id="3b" class="create-container container ">
    <div class="row">
        <div id="createContent3b-1" class="createContent col-3 Content100">
            <span id="content-addedcreateContent3b-1" class="content-added"></span>
            <div id="triggercreateContent3b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3b-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="triggercreateContent3b-2" class="createContent col-6 Content100">
            <span id="content-addedcreateContent3b-2" class="content-added"></span>
            <div id="createContent3b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3b-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>

                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="triggercreateContent3b-3" class="createContent col-3 Content100">
            <span id="content-addedcreateContent3b-3" class="content-added"></span>
            <div id="createContent3b-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3b-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>

                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout3c-->
<div id="3c" class="create-container container ">
    <div class="row">
        <div id="createContent3c-1" class="createContent col-6 Content100">
            <span id="content-addedcreateContent3c-1" class="content-added"></span>
            <div id="triggercreateContent3c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3c-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3c-2" class="createContent col-6 Content50">
            <span id="content-addedcreateContent3c-2" class="content-added"></span>
            <div id="triggercreateContent3c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3c-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>

        <div id="createContent3c-3" class="createContent col-6 Content50 content-right-bottom-absolute">
            <span id="content-addedcreateContent3c-3" class="content-added"></span>
            <div id="triggercreateContent3c-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3c-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

</div>

<!--Layout3d-->
<div id="3d" class="create-container container ">
    <div class="row">
        <div id="createContent3d-1" class="createContent col-12 Content25">
            <span id="content-addedcreateContent3d-1" class="content-added"></span>
            <div id="triggercreateContent3d-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3d-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent3d-2" class="createContent col-6 Content75">
            <span id="content-addedcreateContent3d-2" class="content-added"></span>
            <div id="triggercreateContent3d-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3d-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3d-3" class="createContent col-6 Content75">
            <span id="content-addedcreateContent3d-3" class="content-added"></span>
            <div id="triggercreateContent3d-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent3d-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4a-->
<div id="4a" class="create-container container disposition-active ">
    <div class="row">
        <div id="createContent4a-1" class="createContent col-8 Content50">
            <span id="content-addedcreateContent4a-1" class="content-added"></span>
            <div id="triggercreateContent4a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4a-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4a-2" class="createContent col-4 Content50">
            <span id="content-addedcreateContent4a-2" class="content-added"></span>
            <div id="triggercreateContent4a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4a-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4a-3" class="createContent col-4 Content50">
            <span id="content-addedcreateContent4a-3" class="content-added"></span>
            <div id="triggercreateContent4a-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4a-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4a-4" class="createContent col-8 Content50">
            <span id="content-addedcreateContent4a-4" class="content-added"></span>
            <div id="triggercreateContent4a-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4a-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4b-->
<div id="4b" class="create-container container ">
    <div class="row">
        <div id="createContent4b-1" class="createContent col-12 Content25">
            <span id="content-addedcreateContent4b-1" class="content-added"></span>
            <div id="triggercreateContent4b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4b-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4b-2" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4b-2" class="content-added"></span>
            <div id="triggercreateContent4b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4b-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4b-3" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4b-3" class="content-added"></span>
            <div id="triggercreateContent4b-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4b-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4b-4" class="createContent col-12 Content33">
            <span id="content-addedcreateContent4b-4" class="content-added"></span>
            <div id="triggercreateContent4b-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4b-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4c-->
<div id="4c" class="create-container container ">
    <div class="row">
        <div id="createContent4c-1" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4c-1" class="content-added"></span>
            <div id="triggercreateContent4c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4c-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4c-2" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4c-2" class="content-added"></span>
            <div id="triggercreateContent4c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4c-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4c-3" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4c-3" class="content-added"></span>
            <div id="triggercreateContent4c-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4c-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4c-4" class="createContent col-6 Content50">
            <span id="content-addedcreateContent4c-4" class="content-added"></span>
            <div id="triggercreateContent4c-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4c-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4d-->
<div id="4d" class="create-container container ">
    <div class="row">
        <div id="createContent4d-1" class="createContent col-4 Content50">
            <span id="content-addedcreateContent4d-1" class="content-added"></span>
            <div id="triggercreateContent4d-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4d-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4d-2" class="createContent col-4 Content50">
            <span id="content-addedcreateContent4d-2" class="content-added"></span>
            <div id="triggercreateContent4d-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4d-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4d-3" class="createContent col-4 Content50">
            <span id="content-addedcreateContent4d-3" class="content-added"></span>
            <div id="triggercreateContent4d-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4d-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4d-4" class="createContent col-12 Content50">
            <span id="content-addedcreateContent4d-4" class="content-added"></span>
            <div id="triggercreateContent4d-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4d-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4e-->
<div id="4e" class="create-container container">
    <div class="container">
        <div class="row">
            <div id="createContent4e-1" class="createContent col-6 Content100">
                <span id="content-addedcreateContent4e-1" class="content-added"></span>
                <div id="triggercreateContent4e-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4e-1Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-left-top-absolute">
        <div class="row">
            <div id="createContent4e-2" class="createContent col-6 Content33">
                <span id="content-addedcreateContent4e-2" class="content-added"></span>
                <div id="triggercreateContent4e-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4e-2Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4e-3" class="createContent col-6 Content33">
                <span id="content-addedcreateContent4e-3" class="content-added"></span>
                <div id="triggercreateContent4e-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4e-3Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4e-4" class="createContent col-6 Content33">
                <span id="content-addedcreateContent4e-4" class="content-added"></span>
                <div id="triggercreateContent4e-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4e-4Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Layout4f-->
<div id="4f" class="create-container container">
    <div class="container">
        <div class="row">
            <div id="createContent4f-1" class="createContent col-3 Content100">
                <span id="content-addedcreateContent4f-1" class="content-added"></span>
                <div id="triggercreateContent4f-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4f-1Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-center-absolute">
        <div class="row">
            <div id="createContent4f-2" class="createContent col-6 Content50">
                <span id="content-addedcreateContent4f-2" class="content-added"></span>
                <div id="triggercreateContent4f-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4f-2Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4f-3" class="createContent col-6 Content50">
                <span id="content-addedcreateContent4f-3" class="content-added"></span>
                <div id="triggercreateContent4f-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4f-3Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-right-absolute">
        <div class="row">
            <div id="createContent4f-4" class="createContent col-3 Content100">
                <span id="content-addedcreateContent4f-4" class="content-added"></span>
                <div id="triggercreateContent4f-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay-false muted id="createContent4f-4Video" class="createContentVideo">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Layout4g-->
<div id="4g" class="create-container container">
    <div class="row">
        <div id="createContent4g-1" class="createContent col-6 Content25">
            <span id="content-addedcreateContent4g-1" class="content-added"></span>
            <div id="triggercreateContent4g-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4g-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4g-2" class="createContent col-6 Content25">
            <span id="content-addedcreateContent4g-2" class="content-added"></span>
            <div id="triggercreateContent4g-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4g-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4g-3" class="createContent col-6 Content75">
            <span id="content-addedcreateContent4g-3" class="content-added"></span>
            <div id="triggercreateContent4g-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4g-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4g-4" class="createContent col-6 Content75">
            <span id="content-addedcreateContent4g-4" class="content-added"></span>
            <div id="triggercreateContent4g-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4g-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4h-->
<div id="4h" class="create-container container">
    <div class="row">
        <div id="createContent4h-1" class="createContent col-12 Content25">
            <span id="content-addedcreateContent4h-1" class="content-added"></span>
            <div id="triggercreateContent4h-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4h-1Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4h-2" class="createContent col-6 Content75">
            <span id="content-addedcreateContent4h-2" class="content-added"></span>
            <div id="triggercreateContent4h-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4h-2Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4h-3" class="createContent col-6 Content37">
            <span id="content-addedcreateContent4h-3" class="content-added"></span>
            <div id="triggercreateContent4h-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4h-3Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row ">
        <div id="createContent4h-4" class="createContent col-6 Content37 content-right-bottom-absolute">
            <span id="content-addedcreateContent4h-4" class="content-added"></span>
            <div id="triggercreateContent4h-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay-false muted id="createContent4h-4Video" class="createContentVideo">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>


</div>

<script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/view-pams.js') }}"></script>
<script src="{{ asset('js/bootstrap-new.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!--froala-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/js/froala_editor.pkgd.min.js"></script>

<script>
    let pamsJs = '{{ Pamsjson|e('js') }}';
    console.log(pamsJs);
</script>

<!-- Initialize the editor. -->
<script> $(function () {
        $('.froala-textarea').froalaEditor({
            toolbarButtons: ['fullscreen', 'emoticons', 'bold', 'italic', 'underline', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'outdent', 'indent', 'undo', 'redo']
        })
    });   </script>


<audio id="sound" controls></audio>
</body>
</html>
