<!--Modal choix de la musique-->
<div id="musiqueContainer" class="container">
    <form id="musiqueSelectForm" class="dropzone">
        <div id="musiqueUploaderContainer">
            <h2>Faites Glisser une musique(.mp3)</h2>
            <span>ou</span>
            <label for="musiqueUploader" id="musiqueUploaderLabel">
                <input name="file" type='file' id='musiqueUploader' value=""/>

            </label>
        </div>

        <div id="musiqueGallery">
            <h2>Notre Sélection</h2>
            <div id="musiqueGalleryTitle">catégorie :
                <select id="musiqueSelect">
                    <option value="ALL" selected="selected">Toutes les musiques</option>
                    <option value="1">Noël</option>
                    <option value="2">Anniversaire</option>
                    <option value="3">Etc</option>
                </select>
            </div>

            <div id="musiqueGalleryList">
                <ul class="submenu">
                    <li id="musique1-1" class="music-list-item">
                        <audio id="Audiomusique1-1" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-1.mp3') }}"></source>
                        </audio>
                        <input id="musique1-1input" type="hidden" value="dumb-audio-1.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-2" class="music-list-item">
                        <audio id="Audiomusique1-2" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-2.mp3') }}"></source>
                        </audio>
                        <input id="musique1-2input" type="hidden" value="dumb-audio-2.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-3" class="music-list-item">
                        <audio id="Audiomusique1-3" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-3.mp3') }}"></source>
                        </audio>
                        <input id="musique1-3input" type="hidden" value="dumb-audio-3.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-4" class="music-list-item">
                        <audio id="Audiomusique1-4" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-4.mp3') }}"></source>
                        </audio>
                        <input id="musique1-4input" type="hidden" value="dumb-audio-4.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-5" class="music-list-item">
                        <audio id="Audiomusique1-5" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-5.mp3') }}"></source>
                        </audio>
                        <input id="musique1-5input" type="hidden" value="dumb-audio-5.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-6" class="music-list-item">
                        <audio id="Audiomusique1-6" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-6.mp3') }}"></source>
                        </audio>
                        <input id="musique1-6input" type="hidden" value="dumb-audio-6.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-7" class="music-list-item">
                        <audio id="Audiomusique1-7" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-7.mp3') }}"></source>
                        </audio>
                        <input id="musique1-7input" type="hidden" value="dumb-audio-7.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-8" class="music-list-item">
                        <audio id="Audiomusique1-8" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-8.mp3') }}"></source>
                        </audio>
                        <input id="musique1-8input" type="hidden" value="dumb-audio-8.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique1-9" class="music-list-item">
                        <audio id="Audiomusique1-9" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-9.mp3') }}"></source>
                        </audio>
                        <input id="musique1-9input" type="hidden" value="dumb-audio-9.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">1</span></li>
                    <li id="musique2-1" class="music-list-item">
                        <audio id="Audiomusique2-1" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-1.mp3') }}"></source>
                        </audio>
                        <input id="musique1-1input" type="hidden" value="dumb-audio-1.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">2</span></li>
                    <li id="musique2-2" class="music-list-item">
                        <audio id="Audiomusique2-2" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-2.mp3') }}"></source>
                        </audio>
                        <input id="musique1-2input" type="hidden" value="dumb-audio-2.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">2</span></li>
                    <li id="musique3-1" class="music-list-item">
                        <audio id="Audiomusique3-1" class="player-audio">
                            <source src="{{ asset('audio/dumb-audio-3.mp3') }}"></source>
                        </audio>
                        <input id="musique1-3input" type="hidden" value="dumb-audio-3.mp3"/><img src="{{ asset('images/musique-select.png') }} " width="100px"/>
                        <p>Lorem Ipsum Dolor</p><span class="categorie">3</span></li>
                </ul>
            </div>
        </div>

        <div class="button-container">
            <button id="submitAudio" type="submit" class="btn btn-primary submit-btn">Valider</button>
        </div>
    </form>
</div>